.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1b1b1b;
    box-sizing: border-box;
}

nav {
    background-color: rgba(69, 1, 75, 0.8);
}

nav ul {
    list-style: none;
    justify-content: flex-end;
    display: flex;
    margin-top: 0;
}

nav a {
    display: block;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

nav li {
    flex: 1 1 100%;
}

nav a:hover {
    background-color: #0b042d;
    color: blueviolet;
}

#hero {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-auto-rows: minmax(130px, auto);
    align-content: center;
}

.title,
.name {
    grid-column: 2/3;
    font-size: 2.3rem;
    font-family: "Gloria Hallelujah", cursive;
    padding: 0 2rem;
    letter-spacing: 5px;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
}

.title {
    color: #cc86df;
    grid-row: 1/2;
}

.name {
    color: rgb(255, 250, 250);
    grid-row: 2/3;
}

.portrait {
    grid-column: 1/2;
    grid-row: 1/4;
    justify-self: center;
    align-self: center;
    border: 1px solid red;
    border-radius: 9999px;
    width: 300px;
    height: 300px;
    margin: 0 10px;
}


.biografy {
    background-color: #1b1b1b;
    color: aliceblue;
    grid-column: 1/4;
    grid-row: 3/6;
    font-size: 2rem;
    width: 600px;
    height: 250px;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 5px;
    border: 1px;
    align-self: center;
    align-content: center;
    border: 2px solid red;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    text-align: center;
    box-sizing: border-box;
    gap: 30px;
    margin: 1rem;
}

.about-me .projects {
    grid-column: 1/5;
    grid-row: 1/2;
    background-color: red;
    justify-content: center;
    padding: 1rem;
    margin: 1rem 2rem;
}

.about-me .skills {
    grid-column: 1/5;
    grid-row: 2/3;
    background-color: green;
    margin: 1rem 2rem;
}

footer {
    background-color: rgba(148, 0, 161, 0.8);
    color: white;
}