.gloria-hallelujah-regular {
    font-family: "Gloria Hallelujah", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: #030712;
    background-image: radial-gradient(ellipse 80% 80% at 50% -20%, #7877c64d, #fff0);
    box-sizing: border-box;

}

nav {
    background-color: rgba(69, 1, 75, 0.8);
}

nav ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

nav a {
    display: block;
    color: aliceblue;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

nav a:hover {
    background-color: #0b042d;
    color: blueviolet;
}

#hero {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-content: center;
    justify-content: center;
    margin: 1rem;
}

.name {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Gloria Hallelujah", cursive;
    padding: 0 2rem;
    letter-spacing: 3px;
}

.portrait {
    border: 1px solid red;
    border-radius: 9999px;
    width: 200px;
    height: 200px;
    margin: 1rem 10px;
    margin: 0 auto;
}

.description {
    background-color: #1b1b1b;
    color: aliceblue;
    grid-row: 4/6;
    font-size: 2rem;
    height: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: 1px solid red;
    align-content: center;
}

.about-me {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    box-sizing: border-box;
    margin: 1rem;
    justify-content: center;
}

.projects {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    color: #fff;
}

.projects article {
    border: 1px solid red;
    border-radius: 4px;
    padding-bottom: 1rem;
    margin: 3rem 0;
}

.projects .shrink img {
    transition: 1s ease;
    border-radius: 6px;
}

.projects .shrink img:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.projects h2 {
    display: flex;
    padding-left: 1rem;
    color: yellow;
    font-size: 2rem;
}

.projects div {
    margin: 1rem;
}

.projects div h3 {
    color: yellow;
}

.projects div p {
    padding: 0 2rem;
    font-size: 1rem;
}

article footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15%;
}

article footer a {
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    color: antiquewhite;
    background-color: rgb(43, 43, 36);
    width: 100px;
    padding: 10px;
    border: 0;
    border-radius: 10px;
}

article footer a:hover {
    background-color: #fff;
    color: #030712;
}

article footer a:nth-child(1) {
    justify-self: end;
}

article footer a:nth-child(2) {
    justify-self: start;

}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    border: 1px solid red;
    border-radius: 4px;
    padding: 1.5rem;
    color: #fff;
    justify-items: center;
    margin-top: -1rem;
}

.skills div img {
    width: 100%;
    transition: 1s ease;
}

.skills div img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    transition: 1s ease;
}

.skills div {
    width: 100px;
}

.foot {
    background-color: rgba(148, 0, 161, 0.8);
    color: white;
}